<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>의약품 복용기록 관리</title>

    <style type="text/css">
        div.question-box {
            margin: 10px 0 20px 0;
        }

        table {
            border: 1px solid;
            border-collapse: collapse;
        }

        td,
        th {
            padding: 10px;
            border: 1px solid;
        }

        .urgent {
            color: red;
            font-weight: bold;
        }
        img {
            width: 180px;
            height: 100px;
        }
    </style>

    <script>

        function findImg() {
            let mdCineName = $("#inputMDCineName").val();
            let mdCineImg = "https://nedrug.mfds.go.kr/pbp/cmn/itemImageDownload/147428065594600146";

            $.ajax({
                type: "GET",
                url: "/medicine/infos",
                data: {},
                success: function (response) {
                    let mediInfos = response["mediInfos"];
                    for (let i = 0; i < mediInfos.length; i++) {
                        if(mediInfos[i]["item_name"]===mdCineName){
                            mdCineImg = mediInfos[i]["item_image"]
                            break;
                        }
                    }
                }
            })
            return mdCineImg;
        }

        function postMediInfos() {
            let date = $("#hospVisitDate").val();
            let hospName = $("#inputHospName").val();
            let mdCineName = $("#inputMDCineName").val();
            let mdCineImg;
            let memo = $("#inputMemo").val();

            mdCineImg = findImg();

            // 2. POST 방식으로 메모 생성 요청하기
            $.ajax({
                type: "POST", // POST 방식으로 요청하겠다.
                url: "/medicine/record", // /memo라는 url에 요청하겠다.
                data: {date_give: date, hospN_give: hospName, mdCineN_give: mdCineName, mdCineImg_give: mdCineImg, memo_give: memo}, // 데이터를 주는 방법
                success: function (response) { // 성공하면
                    if (response["result"] === "success") {
                        alert("기록 완료!");
                        // 3. 성공 시 페이지 새로고침하기
                        window.location.reload();
                    } else {
                        alert("서버 오류!");
                    }
                }
            })
        }

        function showMediInfos() {
            $.ajax({
                type: "GET",
                url: "/medicine/record",
                data: {},
                success: function (response) {
                    let mediInfos = response["mediInfos"];
                    let records = response["records"];
                    console.log(mediInfos);
                    for (let i = 0; i < mediInfos.length; i++) {
                        makeTuple(records[i]["date"], records[i]["hospName"], records[i]["mdCineName"], records[i]["image"], records[i]["memo"]);
                    }
                }
            })
        }

        function makeTuple(hospDate, hospName, image, mdCineName, memo) {
            let tempHtml = `<tr>
                            <th scope="row">${hospDate}</th>
                            <td>${hospName}</td>
                            <td><img
                                    src="${image}"
                                    alt="약 이미지"
                            />
                            </td>
                            <td>${mdCineName}</td>
                            <td>${memo}</td>
                            </tr>`;
            $("#tuple-add").append(tempHtml);

        }

        $(document).ready(function () {
            $("#tuple-add").html("");
            showMediInfos();
        });



    </script>

</head>

<body>

<form>
    <div class="question-box">
        <label for="hospName">병원 방문일 :</label>
        <input type="date" class="form-control" id="hospVisitDate" name="hospVDate" aria-describedby="VDHelp"
               placeholder="Enter email">
        <small id="VDHelp" class="form-text text-muted">병원 방문일을 입력하세요.</small>
    </div>
    <div class="form-group1">
        <label for="hospName">병원명 :</label>
        <input type="text" class="form-control1" id="inputHospName" placeholder="병원명">
    </div>
    <div class="form-group2">
        <label for="mdCineName">처방 약 이름 :</label>
        <input type="text" class="form-control2" id="inputMDCineName" placeholder="처방 약 이름">
    </div>
    <div class="form-group3">
        <label for="memo">기타 메모 :</label>
        <input type="text" class="form-control3" id="inputMemo" placeholder="메모 입력">
    </div>

    <button type="button" class="btn btn-warning" onClick="postMediInfos()">기록 추가하기</button>
</form>

<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">병원 방문일</th>
        <th scope="col">병원명</th>
        <th scope="col">처방약 이미지</th>
        <th scope="col">처방의약품명</th>
        <th scope="col">메모</th>
    </tr>
    </thead>
    <tbody id="tuple-add">
    <tr>
        <th scope="row">2020.01.01</th>
        <td>가나다병원</td>
        <td><img
                src="https://nedrug.mfds.go.kr/pbp/cmn/itemImageDownload/147428065594600146"
                alt="약 이미지"
        />
        </td>
        <td>타이레놀</td>
        <td>3일복용 후 약간의 복통</td>
    </tr>
    <tr>
        <th scope="row">2020.01.01</th>
        <td>가나다병원</td>
        <td><img
                src="https://nedrug.mfds.go.kr/pbp/cmn/itemImageDownload/147428065594600146"
                alt="약 이미지"
        />
        </td>
        <td>타이레놀</td>
        <td>3일복용 후 약간의 복통</td>
    </tr>
    </tbody>
</table>
</body>

</html>