<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <title>의약품 복용기록 관리</title>

    <style type="text/css">
        * {
            font-family: 'Nanum Gothic', sans-serif;
        }

        #enterForm {
            padding: 10px;
            margin: auto;
            width: 500px;
            border: 2px solid lightgrey;
            border-radius: 8px;
        }

        #add-Btn{
            margin-top: 20px;
            margin-left: 340px;
        }

        div.question-box {
            margin: 10px 0 20px 0;
        }

        table {
            border: 1px solid;
            border-collapse: collapse;
        }

        td, th {
            padding: 10px;
            border: 1px solid;
            width: auto;
        }

        img {
            width: 180px;
            height: 100px;
        }

        input{
            outline: none !important;
            border:1px solid lightgrey;
            border-radius: 3px;
        }

    </style>

    <script>

        function modifyMediInfos() {
            $('#enterForm').empty();

            $("#mediTable tr").click(function(){
                let str = "";
                const tdArr = new Array();    // 배열 선언
                let tr = $(this);
                let td = tr.children();
                td.each(function(i){
                    tdArr.push(td.eq(i).text());
                });
                let date = tdArr[0];
                let hospName = tdArr[1];
                let mdCineName = tdArr[3];
                let memo = tdArr[4];
                let tempHtml = `<div class="question-box">
                                    <label for="hospName"><b>병원 방문일 :</b></label>
                                    <input type="date" class="form-control" id="hospVisitDate" name="hospVDate" aria-describedby="VDHelp"
                                           placeholder="Enter email" value=${tdArr[0]}>
                                    <small id="VDHelp" class="form-text text-muted">병원 방문일을 입력하세요.</small>
                                </div>
                                <div class="form-group1">
                                    <label for="hospName"><b>병원명 :</b></label>
                                    <input type="text" class="form-control1" id="inputHospName" placeholder="병원명" value=${tdArr[1]}>
                                </div>
                                <div class="form-group2" id="mdCineNames">
                                    <label for="mdCineName"><b>처방 약 이름 :</b></label>
                                    <input type="text" class="form-control2" id="inputMDCineName" placeholder="처방 약 이름" value=${tdArr[3]}> <button type="button" style="background-color: grey;" class="btn btn-secondary" onClick="findMedi()">검색</button>
                                </div>
                                <div class="form-group3">
                                    <label for="memo"><b>기타 메모 :</b></label>
                                    <input type="text" class="form-control3" id="inputMemo" placeholder="메모 입력" value=${tdArr[4]}>
                                </div>
                                <button type="button" style="background-color: grey;" class="btn btn-secondary" onClick="postModifyMediInfos('${date}', '${hospName}', '${mdCineName}', '${memo}')">수정 완료</button>`;
                $("#enterForm").append(tempHtml);
            });
        }

        function postModifyMediInfos(date, hospName, mdCineName, memo){
            $.ajax({
                type: "POST",
                url: "/medicine/modify",
                data: {date_give: date, hospN_give: hospName, mdCineN_give: mdCineName, memo_give: memo},
                success: function (response) {
                    if (response['result'] == 'success') {
                        console.log("success remove");
                        window.location.reload();
                    }
                }
            });
            postMediInfos();
        }


        function postMediInfos() {

            let date = $("#hospVisitDate").val();
            let hospName = $("#inputHospName").val();
            let mdCineName = $("#realMediName").text();
            let memo = $("#inputMemo").val();

            $.ajax({
                type: "POST", // POST 방식으로 요청하겠다.
                url: "/medicine/record",
                // data: {date_give: date, hospN_give: hospName, mdCineN_give: mdCineName, mdCineImg_give: mdCineImg, memo_give: memo}, // 데이터를 주는 방법
                data: {date_give: date, hospN_give: hospName, mdCineN_give: mdCineName, memo_give: memo}, // 데이터를 주는 방법

                success: function (response) { // 성공하면
                    if (response["result"] === "success") {
                        alert("기록 완료!");
                        // 3. 성공 시 페이지 새로고침하기
                        window.location.reload();
                    } else {
                        alert("서버 오류!");
                    }
                }
            })
        }

        function showMediInfos() {
            $('#tuple-add').empty();
            $.ajax({
                type: "GET",
                url: "/medicine/record",
                data: {},
                success: function (response) {
                    let records = response["records"];
                    // console.log(mediInfos);
                    for (let i = 0; i < records.length; i++) {
                        // makeTuple(records[i]["date"], records[i]["hospName"], records[i]["mdCineName"], records[i]["image"], records[i]["memo"]);
                        makeTuple(records[i]["date"], records[i]["hospName"], records[i]["mdCineName"], records[i]["memo"]);

                    }
                }
            })
        }

        function makeTuple(hospDate, hospName, mdCineName, memo) {
            let mdCineImg;

            $.ajax({
                type: "GET",
                url: "/medicine/infos",
                data: {},
                success: function (response) {
                    let mediInfos = response["mediInfos"];

                    for (let i = 0; i < mediInfos.length; i++) {
                        if(mediInfos[i]["item_name"]==mdCineName){
                            mdCineImg = mediInfos[i]["item_image"]
                            //console.log(mdCineImg);
                            break;
                        }
                    }
                    let tempHtml = `<tr>
                            <th scope="row">${hospDate}</th>
                            <td>${hospName}</td>
                            <td><img
                                    src="${mdCineImg}"
                                    alt="약 이미지"
                            />
                            </td>
                            <td>${mdCineName}</td>
                            <td>${memo}</td>
                            <td><button type="button" class="btn btn-warning" onClick="modifyMediInfos()">수정</button></td>
                            </tr>`;
                    $("#tuple-add").append(tempHtml);
                }
            })
        }

        function myChange(obj){
            let realMDCineName = $(obj).val();
            //console.log(realMDCineName);
            let tempHtml = `<p id = "realMediName">${realMDCineName}</p>`
            $("#mdCineNames").append(tempHtml);
        }

        function findMedi() {
            let mdCineName = $("#inputMDCineName").val();
            let names = [];
            let mdCineImg;
            $.ajax({
                type: "GET",
                url: "/medicine/infos",
                data: {},
                success: function (response) {
                    let mediInfos = response["mediInfos"];
                    for (let i = 0; i < mediInfos.length; i++) {
                        if(mediInfos[i]["item_name"].includes(mdCineName)){
                            names.push(mediInfos[i]["item_name"])
                        }
                    }
                    let tempHtml = `<div id="my-select" style="width: 400px;"><select style="width: 460px;" onchange="myChange(this)">
                                        <option style="width: 460px;">정확한 의약품명을 선택해주세요.</option>`;
                    for (let i = 0; i < names.length; i++){
                        let myname = names[i]
                        tempHtml += `<option style="width: 460px;">${myname}</option>`
                    }
                    tempHtml += `</select></div>`;
                    $("#mdCineNames").append(tempHtml);
                }
            })
        }

        $(document).ready(function () {
            showMediInfos();
        });



    </script>

</head>

<body>

<p id="record-box">
    <form id="enterForm" class="p-3 mb-2 bg-warning text-dark">
        <div class="question-box">
            <label for="hospName"><b>병원 방문일 :</b></label>
            <input type="date" class="form-control" id="hospVisitDate" name="hospVDate" aria-describedby="VDHelp"
                   placeholder="Enter email">
            <small id="VDHelp" class="form-text text-muted">병원 방문일을 입력하세요.</small>
        </div>
        <div class="form-group1">
            <label for="hospName"><b>병원명 :</b></label>
            <input type="text" class="form-control1" id="inputHospName" placeholder="병원명">
        </div>
        <div class="form-group2" id="mdCineNames">
            <label for="mdCineName"><b>처방 약 이름 :</b></label>
            <input type="text" class="form-control2" id="inputMDCineName" placeholder="처방 약 이름"> <button type="button" style="background-color: grey;" class="btn btn-secondary" onClick="findMedi()">검색</button>
        </div>
        <div class="form-group3">
            <label for="memo"><b>기타 메모 :</b></label>
            <input type="text" class="form-control3" id="inputMemo" placeholder="메모 입력">
        </div>

        <button type="button" style="background-color: grey;" id="add-Btn" class="btn btn-secondary" onClick="postMediInfos()">기록 추가하기</button>
    </form>
</p>

<p>
<table class="table table-bordered table-hover" id="mediTable">
    <thead>
    <tr>
        <th scope="col">병원 방문일</th>
        <th scope="col">병원명</th>
        <th scope="col">처방약 이미지</th>
        <th scope="col">처방의약품명</th>
        <th scope="col">메모</th>
        <th scope="col">수정선택</th>
    </tr>
    </thead>
    <tbody id="tuple-add">
    <tr>
        <th scope="row">2020.01.01</th>
        <td>가나다병원</td>
        <td><img
                src="https://nedrug.mfds.go.kr/pbp/cmn/itemImageDownload/147428065594600146"
                alt="약 이미지"
        />
        </td>
        <td>타이레놀</td>
        <td>3일복용 후 약간의 복통</td>
    </tr>
    <tr>
        <th scope="row">2020.01.01</th>
        <td>가나다병원</td>
        <td><img
                src="https://nedrug.mfds.go.kr/pbp/cmn/itemImageDownload/147428065594600146"
                alt="약 이미지"
        />
        </td>
        <td>타이레놀</td>
        <td>3일복용 후 약간의 복통</td>
    </tr>
    </tbody>
</table>
</p>
</body>

</html>